@import 'utilities.css';

:root{
    --primary: #3dcfd3;
    --dark: #161616;
    --pure: #ffffff;
    --ternary: #898989;
    --light: #f2f2f2;
    --secondary: #070606;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}

body{
    font-family: 'Poppins',sans-serif;
}

header{
    background-color: var(--dark);
    clip-path: polygon(0 0,100% 0,100% 100%,70% 90%,0 100%);
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 3rem;
    text-transform: uppercase;
    transition: all .3s ease;
    
}

header nav .left a:hover{
    color: var(--dark);
    border-radius: 50px;
    padding: 10px 20px;
    background-color: var(--primary);
    transition: all .2s ease-out;
}


header nav{
    padding: 2rem 0;
}

header nav .branding{
    margin-right: 3rem;
    cursor: pointer;
}

.hero{
    padding: 3rem 0;
}

.hero .left img{
    width: 400px;
}

.hero .right {
    color: var(--pure);
    margin-top: -7rem;
}

.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero .right h1 span{
    color: var(--primary);
}

.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}


section{
    padding: 6rem 0;
}

section.about .about-me-img{
    height:450px;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span{
    color: var(--primary);
}

section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about h3 span{
    color: var(--primary);
    font-size: 1.6rem;
}

section.about p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;

}

section.about .social{
    display: flex;
}

section.about .social a{
    background-color: var(--pure);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 0.6rem;
}

section.about .social a:hover{
    background-color: var(--primary);
    transition: all .3s;
}

section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: .5;
    font-weight: lighter;


}

.section-heading span{
    color: var(--primary);
}

.section-heading + p{
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 6rem;
    text-align: center;
    

}

section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 4.3rem;
}

section.services .card-wrapper .card{
    background-color: var(--pure);
    padding: 2rem 3rem;
    padding-top: 3rem;
    position: relative;
}

section.services .card-wrapper .card:hover{
    background-color: #00ccd379;
    transition: all .5s ease;
    cursor: pointer;
}


section.services .card-wrapper .card img{
    height: 70px;
    width: 70px;
    padding: 0.5rem;
    background-color: var(--primary);
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
}




section.services{
    background-color: var(--light);
}

section.services .image{
    text-align: center;
}

section.services .card-wrapper h2{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
}

section.services p{
    text-align: center;
    font-family: 'Lato';
    font-weight: lighter;
    line-height: 1.6;
    
}