.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
}

.btn-primary{
    background-color: var(--primary);
    color: var(--dark);

}

.btn-primary:hover{
    background-color: var(--dark);
    border-color: var(--primary);
    color: var(--primary);
}

.btn-secondary{
    background: transparent;
    border: var(--primary);
    color: var(--primary);
    border: 2px solid var(--primary);
}

.btn-secondary:hover{
    color: var(--dark);
    background-color: var(--primary);
}

.flex-1{
    flex: 1;
}

